.wrapper {
  height: 87vh;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.login-form {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  gap: 1.2rem;
  font-size: 1.2rem;
}

.login-form h1 {
  align-self: flex-start;
}

.login-form label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.login-form span {
  display: block;
}

.login-form input {
  font-size: 1rem;
  height: 1.6rem;
}

.login-form button {
  font-size: 1.2rem;
  padding: 0.6rem 1rem;
  align-self: flex-start;
}